@using InventoryModel.Models
@model InventoryDto.ProductWriteDto

@{
    ViewData["Title"] = "Edit Product";
}

<h2 class="mt-5 mb-4">Edit Product</h2>

<div class="card shadow border-0 m-5">
    <div class="card-body p-5">
        <form asp-action="Update" method="post" enctype="multipart/form-data">

            <input type="hidden" name="id" value="@Context.Request.Query["id"]" /> 

            <div class="row g-0">
                <div class="col-md-9">
                    <div class="row">
                        <div class="mb-4 col-12">
                            <label asp-for="Name" class="form-label"></label>
                            <input asp-for="Name" class="form-control w-100" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-4 col-12">
                            <label asp-for="Category"></label>
                            <select asp-for="Category" asp-items="Html.GetEnumSelectList<ProductCategory>()" class="form-select w-100">
                                <option value="">--Select Product Category--</option>
                            </select>
                            <span asp-validation-for="Category" class="text-danger"></span>
                        </div>

                        <div class="mb-4 col-12">
                            <label asp-for="Price" class="form-label"></label>
                            <input asp-for="Price" class="form-control w-100" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>

                        <div class="mb-4 col-12">
                            <label asp-for="ProductImageFile" class="form-label">Upload Product Image</label>
                            <input asp-for="ProductImageFile" class="form-control w-100" type="file" id="ProductImageFile" />
                            <span asp-validation-for="ProductImageFile" class="text-danger"></span>
                        </div>

                        <div class="mb-4 col-12">
                            <label asp-for="StockQty" class="form-label"></label>
                            <input asp-for="StockQty" class="form-control w-100" />
                            <span asp-validation-for="StockQty" class="text-danger"></span>
                        </div>

                        <div class="mb-4 col-12">
                            <label asp-for="SupplierId"></label>
                            <select asp-for="SupplierId" asp-items="@(ViewBag.Suppliers as List<SelectListItem>)" class="form-select w-100">
                                <option value="">--Select Supplier--</option>
                            </select>
                            <span asp-validation-for="SupplierId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                
                <div class="col-md-3 ps-4 text-center">
                    <img class="imageThumbnail" style="max-height:160px;" src="@ViewBag.ImageBase64" asp-append-version="true" />
                </div>

                <div class="d-flex justify-content-end gap-4 col-12 mt-3">
                    <a asp-action="Index" asp-controller="ProductMvc" class="btn btn-secondary">Back to List</a>
                    <button type="submit" asp-controller="ProductMvc" asp-action="Update" class="btn btn-primary">Update</button>
                </div>



            </div>
        </form>
    </div>
</div>


